/* Global Styles */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f5;
  }
  
  /* Header Styles */
  
  header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    color: #fff;
  }
  
  /* Main Styles */
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Section Styles */
  
  section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    border-radius: 4px;
  }
  
  section h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
  }
  
  /* List Styles */
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  li h3 {
    font-size: 1.2em;
    font-weight: 300;
    color: #374054;
    margin: 0;
  }
  
  li p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0;
  }
  
  /* Responsive Styles */
  
  @media only screen and (max-width: 768px) {
    section {
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    section {
      width: 100%;
    }
  }